.update {
  border: solid 1px #67c23a;
}

.update:hover {
  border: solid 1px #57a135;
}

.detail {
  border: solid 1px #f5af3b;
}

.delete {
  border: solid 1px #dd6161;
}

.delete:hover {
  border: solid 1px #c95c5d;
}

.add {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  border: solid 1px #3a8ee6;
}

.add:hover {
  border: solid 1px #3884d3;
}

.common-button {
  border: solid 1px #3a8ee6;
}

.common-button:hover {
  border: solid 1px #3884d3;
}

.inline-button {
  display: flex;
  justify-content: space-between;
}

.my-button {
  width: 40px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}

.my_table {
  margin-top: 20px;
}

.cursor {
  cursor: pointer;
}

//文件上传组件
.upload-component {
  .el-upload {
    .el-upload-dragger {
      background: #191c21;
    }
  }
}

.marginAuto {
  margin: 0 auto;
}

